<hr>

<div [@bannerAnimation]="selectedIndex" class="banner-container" bannerCtrl #ctrl="bannerCtrl" [itemsLength]="backingItems.length"
  (selectedIndex)="selectedIndex = $event" (actualIndex)="actualIndex = $event">
  <div class="banner" style="background-image: url('http://via.placeholder.com/650x450');" *ngFor="let banner of items">
    <span class="new badge">{{ banner }}</span>
  </div>



  <button class="btn left waves-effect waves-light banner-arrow" (click)="ctrl.previous()"><</button>
  <button class="banner-btn waves-effect waves-light" *ngFor="let item of backingItems;let i=index" [class.active]="i==actualIndex"
    (click)="ctrl.setIndex(i)">{{item}}</button>
  <button class="btn right waves-effect waves-light banner-arrow" (click)="ctrl.next()">></button>
</div>