.banner-container {
  position: relative;
  
  height: 450px;
  width: 650px;
  overflow: hidden;
  >.banner {
    position: absolute;
    
    height: 450px;
    width: 650px;
    >.bage {
        
     }
     
    
  }
  >.banner-arrow {
    height: 100%;
    background-color: transparent;
    &.btn{
    box-shadow: 0;
    -webkit-box-shadow: 0;
    }
  
}
}